body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 900px;
            margin: 0 auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        h2 {
            text-align: center;
        }
        iframe {
            border: none;
            border-radius: 8px;
        }
        .voltar-link {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #b9a883;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header a img {
    margin: 20px;
}

header {
    background-color: white;
   
}

.menu {
    display: flex;
    gap: 25px;
    text-align: center;
    margin-right: 140px;
    height: 100px;
    margin-top: -125px;
    justify-content: end;
}

.menu div p a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: 'Montserrat', 'Bebas Neue', 'Oswald';
}

.menu div p a:hover {
    border-bottom: 2px solid;
}

footer {
    background-color: white;
}

.principais {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    margin-bottom: 50px;

}

.principais nav p a:hover {
    border-bottom: 2px solid;
}

footer .principais nav {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: 'Montserrat', 'Bebas Neue', 'Oswald';
}

nav p a {
    text-decoration: none;
    color: black;
}

.outros2 {
    text-align: center;
    font-family: 'Montserrat', 'Bebas Neue', 'Oswald';
}