@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.cabecalho > img {
    margin: 20px;
}

.pcima {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(7, 2fr);
    text-align: center;
    margin-left: 140px;
    height: 100px;
    margin-top: -125px;
    justify-content: center;
}

.pcima div {
    text-align: center;
    padding-top: 20px;
}

.pcima div p a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: 'Montserrat', 'Bebas Neue', 'Oswald';
}

.pcima div p a:hover {
    border-bottom: 2px solid;
}

.list {
    list-style-type: none; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 0 20px;
    text-align: left;
    font-family: 'Lato', 'Roboto', 'Open Sans';             
}

section h3 {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 0 20px;
    text-align: left;
    font-family: 'Lato', 'Roboto', 'Open Sans';
}

.p {
    color: #8c8c8c;
    font-size: 25px;
    font-weight: 399;
    margin-bottom: 40px;
}

section p {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 0 20px;
    text-align: left;
    font-family: 'Lato', 'Roboto', 'Open Sans';
}

section h2{
    font-size: 30px;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 0 20px;
    text-align: left;
    font-family: 'Lato', 'Roboto', 'Open Sans';
}

section h1 {
    color:#333;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 20px;
    text-align: left;
    font-family: 'Lato', 'Roboto', 'Open Sans';
}

.pbaixo {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    margin-bottom: 50px;
}

footer .pbaixo nav {
    font-size: 18px;
    font-family: 'Montserrat', 'Bebas Neue', 'Oswald';
}

footer .pbaixo nav p a {
    color: black;         
    text-decoration: none; 
}

footer .pbaixo nav p a:hover {
    text-decoration: none;
}


.outros {
    text-align: center;
    font-family: 'Montserrat', 'Bebas Neue', 'Oswald';
}