@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body {
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

header a img {
    margin: 20px;
}

header, footer {
    background-color: white;
}

.menu {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 2fr);
    text-align: center;
    margin-left: 140px;
    height: 100px;
    margin-top: -125px;
    justify-content: center;
}

.menu > div {
    text-align: center;
    padding-top: 20px;
}

.menu div p a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: 'Montserrat', 'Bebas Neue', 'Oswald';
}

.menu div p a:hover {
    border-bottom: 2px solid;
}

.principais {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    margin-bottom: 50px;
}

.principais nav p a:hover {
    border-bottom: 2px solid;
}

footer .principais nav {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: 'Montserrat', 'Bebas Neue', 'Oswald';
}

nav p a {
    text-decoration: none;
    color: black;
}

.outros {
    text-align: center;
    font-family: 'Montserrat', 'Bebas Neue', 'Oswald';
}

.final {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
}
.check {
    display: flex;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
    .menu {
        grid-template-columns: repeat(3, 1fr); 
        margin-left: 0;
        margin-top: 10px;
        height: auto;
        gap: 10px;
    }
    
    .menu div p a {
        font-size: 14px;
    }

    .principais {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
        padding: 0 10px;
        margin-bottom: 30px;
    }
    
    footer .principais nav {
        font-size: 16px;
    }
    
    .outros {
        padding: 0 10px;
        font-size: 14px;
    }
}


@media (max-width: 480px) {
    .menu {
        grid-template-columns: repeat(2, 1fr); 
    }


    .principais {
        grid-template-columns: 1fr; 
    }
}