@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    background-color: #ffffff;
}
a   {
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.perfil-do-usuario {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border: 2px solid #e6e6e6;
    border-radius: 30px;
}

.perfil-do-usuario img {
    border-radius: 50%;
    box-shadow: 5px 5px 5px hsl(0, 0%, 79%);
}

.menu-card-visual {
    display: grid;
    flex-direction: column;
    padding: auto;
    align-items: center;
    gap: 15px;
    background-color: #ffffff;
    width: 300px;
    height: 400px;
    box-shadow: 10px 10px 10px #e6e6e6;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.menu-card-visual h1{
    background-color: #FFFFFF;
}

.menu-card-visual p{
    background-color: #FFFFFF;
}

.menu-card-visual img {
    border-radius: 10px;
} 

.Todos-os-cards{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 40px; 
    max-width: 100%;
    margin: 40px;
}

fieldset{
    border: solid 2px #e6e6e6;
    border-radius: 30px;
}

.menu-card-visual:hover {
    transform: translateY(25px); 
    box-shadow: 5px 5px 5px hsl(0, 0%, 79%); 
}

.cardlink{
    color: black;
    text-decoration: none;
}
.principais {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.principais nav p a:hover {
    border-bottom: 2px solid;
}

footer .principais nav {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: 'Montserrat', 'Bebas Neue', 'Oswald';
}

nav p a {
    text-decoration: none; 
    color: black;  
}

.outros {
    text-align: center;
    font-family: 'Montserrat', 'Bebas Neue', 'Oswald';
    margin: 30px;
}
